# Copie ce fichier en .env pour le développement local
# Sur Railway : renseigne ces valeurs dans Variables > New Variable

TELEGRAM_BOT_TOKEN=8743436885:AAGVQ3OOGl_rJeyEoHyRVeIuAvFoB9qXi88
TELEGRAM_CHAT_ID=6741061312
